In [1]:
# dependency load in
import pandas as pd
from matplotlib import plot as plt
import numpy as np
import scipy as stats

ImportError: cannot import name 'plot' from 'matplotlib' (/opt/anaconda3/lib/python3.7/site-packages/matplotlib/__init__.py)

In [6]:
senate_data = pd.read_csv('SCPRC-EST2019-18+POP-RES.csv')
cols = senate_data.columns
cols

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'NAME', 'POPESTIMATE2019',
       'POPEST18PLUS2019', 'PCNT_POPEST18PLUS'],
      dtype='object')

In [7]:
senate_data.dtypes

SUMLEV                 int64
REGION                object
DIVISION              object
STATE                  int64
NAME                  object
POPESTIMATE2019        int64
POPEST18PLUS2019       int64
PCNT_POPEST18PLUS    float64
dtype: object

In [19]:
#senate_data.head()
#del senate_data['SUMLEV']
senate_data.head()
del senate_data['REGION']
senate_data.head()

  DIVISION           NAME  POPESTIMATE2019
0        0  United States        328239523
1        6        Alabama          4903185
2        9         Alaska           731545
3        8        Arizona          7278717
4        7       Arkansas          3017804

In [20]:
del senate_data['DIVISION']

In [21]:
senate_data.head()

            NAME  POPESTIMATE2019
0  United States        328239523
1        Alabama          4903185
2         Alaska           731545
3        Arizona          7278717
4       Arkansas          3017804

In [30]:
territory_count = len(senate_data)
senate_data = senate_data.drop(senate_data.index[0])
population = senate_data['POPESTIMATE2019'].sum()
print(territory_count)
print(population)

53
331433217